@charset "UTF-8";
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

label {
  display:block;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  font-family: "Montserrat";
}

a h1 {
  padding: 0;
  font-size: 1.2rem;
  margin-top: 15px;
}

.bg-navbar {
  background-color: #343A40;
}

a.nav-link {
  color: #fff;
}

.filtres {
  background-color: #343A40;
  color: #fff;
}

.dl {
  border-radius: 20px;
  font-size: .9rem;
  font-weight: 500;
}

.btn-container {
  text-align: center;
  padding-top: 10px;
}

.footer {
  text-align: center;
  padding-top: 20px;
}

label{
  padding-top: 10px;
}

.filtres{
  text-align: center;
}

a.nav-title{
  padding-left: 30px;
}
